<div class="row">
  <div class="span7">
    <%= image_tag "Local-Search-SEO.jpg" %>
  </div>
  <div class="well span4">
    <span><%= link_to "Register your ParkingLot with us...", "/parking_lots/new" %></span>
    <h5>Search Location</h5>
    <div class="form-search">
      <%= form_tag %>
      <%= text_field_tag :address,"", class: "loc_search" %>
      <%= link_to "search", "", :class => "btn btn-success" %>
      <%#= gmaps({ "map_options" => { "libraries" => ["places"] } }) %>

    </div>

    <div class="register_form">
    </div>
  </div>

</div>
<% gmaps({ "map_options" => { "libraries" => ["places"] } }) %>