<div class="span4 well-large form-horizontal registration-form">
  <legend>Parking Lot Registration</legend>
  <%= form_for @parking_lot do |f| %>
      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="control-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "loc_search" %>
      </div>
      <%= f.submit "Register", class: "btn btn-primary" %>
  <% end %>

  <%#= gmaps4rails(@json) %>
  <%#= gmaps(:markers => {:data => @json, :options => { :raw => '{ animation: google.maps.Animation.BOUNCE }' } },
            :map_options => { :raw => '{ disableDefaultUI: true, scrollwheel: true }' }) %>
  <%= gmaps("markers" => {"data" => @json, "options" => { "draggable" => true  }} ,"map_options" => {"libraries" => ["places"]}) %>
</div>

<script type="text/javascript" charset="utf-8">

    Gmaps.map.HandleDragend = function(pos) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            latLng: pos
        }, function(responses) {
            if (responses && responses.length > 0) {
                alert(responses[0].formatted_address);
            } else {
                alert('Cannot determine address at this location.');
            }
        });
    };

    Gmaps.map.callback = function() {
        for (var i = 0; i <  this.markers.length; ++i) {
            google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
        }
    };
</script>