<div class="span4 well-large form-horizontal registration-form">
  <legend>Parking Lot Registration</legend>
  <%= form_for @parking_lot do |f| %>
      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="control-group">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <%= f.submit "Register", :class => "btn btn-primary" %>
  <% end %>

  <%= gmaps4rails(@json) %>
</div>